p {
    font-family: "Merriweather";
    margin: 8px;
}

h1,
h2 {
    font-family: "Lato";
    text-align: center;
}

body {
    margin: 0;
}

article {
    width: 700px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}
