/** {
    background-color: yellow;
    color: red;
}*/

h1 {
    background-color: yellow;
    color: red;
}

span {
    background-color: red;
    color: yellow;
}

.big {
    font-size: 180%;
}

span.big {
    color: black;
}

span#nagyonbig.big {
    text-decoration: line-through;
}

#elsop {
    font-weight: bold;
}

#i {
    letter-spacing:10px;
}
