body {
    background: #e4e4e4;
	color: #000;
	font-family: arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}


p {
    line-height: 20px;
}

/*header*/


.header {
    padding: 30px 0;
}

.header, nav {
    background: #898989;
    width: 100%;
}

.middle {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1000px;
}

.title {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 20px;
}

nav {
    background: #aaa;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    height: 40px;
    line-height: 40px;

}

.nav {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
}

.social {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}

.nav li, .social li {
    display: block;
    float: left;
}

.nav ul {
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

/*content*/

.wrapper {
    background: #fff;
    margin: 0 auto;
    padding: 40px 20px 30px 20px;
}

main {
	float: right;
	width: 680px;
	padding-right: 20px;
	box-sizing: border-box;
}
aside {
	width: 230px;
	float: left;
	background: #e9ebf4;
	padding: 10px;
	box-sizing: border-box;
}
.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

article h1 {
    font-size: 24px;
}

.sidebar h1 {
    font-size: 18px;
}


.sidebar li {
    list-style-type: none;
    line-height: 20px;
}

.sidebar ul {
    padding: 0;
}

img {
    float: right;
    margin-left: 10px;
    border: 5px solid #e9ebf4;
}
